@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,500&display=swap');
:root {
    --primary: #eac6c6;
    --secondary: #516051;
  }
  

*{
    font-family: 'Roboto', sans-serif;
}
.nav-links{
    align-content: center;
    background-color: var(--primary);
}
.menu{
    justify-content: space-evenly;
    display: flex;
    padding: 1.2rem;
    font-weight: 500;
}
.logo-sec{
    background-color: none;
    list-style: none;
    cursor: pointer;
}
.menu-sec{
    list-style: none;
    justify-content:flex-start;
    cursor: pointer;
    display: flex;
}
.menu-sec li{
    margin-left: 12px;
}